@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,500;0,600;0,800;1,400;1,500;1,600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Shantell Sans', cursive;
}

html, body{
    height: 100%;
    width: 100%;
    background-color: whitesmoke;
}

h1{
    color:#000;
    font-weight: bolder;
    font-size: 38px;
    margin-top:20px;
    text-decoration: underline;
}

.container{
    width: 340px;
    background-color: #fff2c2;
    border-radius: 25px;
    border:1px solid rgb(188, 182, 182);
    box-shadow: 1px 1px 12px 5px rgb(196 190 190);
}

.container .row {
    margin: 8px 0px;
}

.container .input{
    margin-top: 10px;
    padding: 35px;
    width:300px;
    border: 2px solid rgb(128, 128, 128);
    border-radius: 25px;
}

.container input[type="text"]{
    font-size: 28px;
    font-weight: bold;
}

.container input[type="text"]:focus{
    border: 5px solid rgb(254, 148, 73);
    outline: none;
}

.container .button{
    padding: 10px 0px;
    border: 2px solid rgb(128, 128, 128);
    border-radius: 25px;
    box-shadow: 1px 1px 5px 1px rgb(74, 74, 74);
    font-size: 22px;
    font-weight: bold;
    margin: 3px 8px;
    width:56px;
}